@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap");
:root {
  --main_color: #006aff;
  --dark_color: #394867;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  outline: none;
}
body {
  background: #F1F6F9;
}
img {
  width: 100%;
}

/* Button Style element */
.btn {
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  cursor: pointer;
}
.btn ion-icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
  --ionicon-stroke-width: 50px;
}

.container {
  margin: auto;
  width: 1360px;
}
header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 20px 20px 28px;
  border-radius: 0 0 30px 30px;
}
header .category {
  margin: 0 0 0 50px;
  background: var(--main_color);
}
header .category ion-icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
  --ionicon-stroke-width: 40px;
}
header .search {
  margin: 0 auto;
  width: 50%;
  position: relative;
}
header .search input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 50px;
  border: 2px solid #ccc;
  font-size: 18px;
  color: var(--dark_color);
  font-weight: 500;
}
header .search button {
  width: 35px;
  height: 35px;
  border: none;
  background: inherit;
  background: var(--main_color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
header .search button ion-icon {
  --ionicon-stroke-width: 50px;
}
header .auth {
  background: var(--main_color);
}
main {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}
aside {
  width: 8%;
  background: #fff;
  border-radius: 30px 30px 0 0;
}
aside ul {
  text-align: center;
}
aside ul li {
  margin: 0 10px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #ccc;
}
aside ul li a ion-icon {
  padding: 20px 0 2px 0;
  font-size: 34px;
  color: var(--main_color);
}
aside ul li a {
  font-size: 12px;
  text-transform: capitalize;
  color: var(--dark_color);
}
section {
  width: 92%;
  background: #F1F6F9;
}
section .sectionnav ul {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px 30px 0 0;
}
section .sectionnav ul li {
  margin: 15px 0;
  padding: 10px 20px;
  background: #C4DDFF;
  border-radius: 50px;
}
section .sectionnav ul li:hover {
  background: var(--main_color);
}
section .sectionnav ul li:hover a {
  color: #fff;
}
section .sectionnav ul li a {
  color: #394867;
  text-transform: capitalize;
}
.sectionnav {
  border-bottom: 5px solid #F1F6F9;
}
.newsbanner {
  background: #fff;
  border-radius: 0 0 30px 30px;
}
.newsbanner img {
  width: 100%;
  border-radius: 0 0 30px 30px;
}

.newstext p {
  margin: 0 1000px 0px 0;
  padding: 5px 20px;
  font-size: 25px;
  color: #006aff;
  text-transform: uppercase;
  text-shadow: 0 0 3px;
}
.coursesection {
  width: 70%;
  border-radius: 30px 30px 0 0;
}
.coursetext p {
  padding: 20px 20px;
  font-size: 25px;
  color: #006aff;
  text-transform: uppercase;
  text-shadow: 0 0 3px;
  background: #fff;
  border-radius: 30px 30px 0 0;
}
.courseitemcon {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.courseitem img {
  width: 100%;
}
.courseitem {
  width: 50%;
  margin-top: 5px;
  background: #fff;
}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--dark_color);
}
.courseitem p {
  color: var(--dark_color);
  margin: 10px 0 20px 0;
}
.rating {
  color: var(--main_color);
  word-spacing: 10px;
  font-size: 20px;
}
.footeritem {
  margin-top: 30px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.footeritem del {
  text-decoration: line-through;
  color: gray;
}
.footeritem span {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.btn {
  display: flex;
  gap: 5px;
}
button {
  padding: 5px 20px;
  background-color: var(--main_color);
  border: none;
}
button a {
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}
button a ion-icon {
  font-size: 25px;
}
button a i {
  font-size: 25px;
}
.btn1 {
  border-radius: 30px 0 0 30px;
}
.btn2 {
  border-radius: 0 30px 30px 0;
}
.courseinfo {
  width: 30%;
  border-radius: 30px 30px 0 0;
}
.courseinfo .infotext p {
  padding: 20px 20px;
  font-size: 25px;
  color: #006aff;
  text-transform: uppercase;
  text-shadow: 0 0 3px;
  background: #fff;
  border-radius: 30px 30px 0 0;
}
.mainsection {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
.infobox {
  margin-top: 5px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.infobox h1 {
  color: var(--dark_color);
  text-align: center;
}
.logotext {
  margin: 15px 0;
  display: flex;
}
.logotext .logo img {
  width: 70%;
}
.logotext .text {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.logotext .text p  {
  color: gray;
  font-size: 20px;
}
.logotext .text span {
  color: var(--main_color);
  font-size: 26px;
}
.infobox .ultext p {
  margin-left: 15px;
  color: var(--main_color);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.infobox ul {
  margin: 15px 0;
}
.infobox ul li a{
  margin-left: 15px;
  color: var(--dark_color);
  font-size: 20px;
}
.infobox ul li a ion-icon, i {
  padding: 0 20px 0 20px;
  color: var(--main_color);
  font-size: 27px;
}
.infobox .price {
  margin: 30px 0 10px 20px;
}
.infobox .price del {
  text-decoration: line-through;
  color: gray;
}
.infobox .price span {
  font-size: 28px;
  color: red;
  font-weight: bold;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button .all {
  background: var(--main_color);
  text-align: center;
  margin-top: 20px;
  border-radius: 50px;
}
.button .all a {
  color: #fff;
  text-transform: capitalize;
}
.button .button1 {
  padding: 10px 60px;
}
.button .button2 {
  padding: 10px 85px;
}
.button .button3 {
  padding: 10px 75px;
}